@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #020202;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: 0.3s;
}

button {
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  color: #d1d1d1;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 0.75rem;
}

.logo {
  max-width: 245px;
}
@media (max-width: 375px) {
  .logo {
    width: 150px;
  }
}

.material-icons {
  vertical-align: sub;
}

.icon-s {
  font-size: 1rem;
}

.icon-m {
  font-size: 1.5rem;
}

.icon-l {
  font-size: 5rem;
}

.text-s {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.text-s-bold {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
}

.text-m {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.text-m-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.text-l {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.title-xs {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1.2;
}

.title-s {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
}

.title-m {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
}

.title-l {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
}

.title-xl {
  font-size: 7.5rem;
  font-weight: 900;
  line-height: 1.2;
}

@media (max-width: 375px) {
  .text-sm-m {
    font-size: 1rem;
  }
  .title-sm-xs {
    font-size: 1.25rem;
  }
  .title-sm-s {
    font-size: 1.75rem;
  }
  .title-sm-m {
    font-size: 2rem;
  }
  .title-sm-l {
    font-size: 3rem;
  }
}
.mb-1t {
  margin-bottom: 1.5rem;
}

.mb-2t {
  margin-bottom: 2.5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6h {
  margin-bottom: 6.25rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.mb-15 {
  margin-bottom: 15rem;
}

@media (max-width: 375px) {
  .mb-sm-1 {
    margin-bottom: 1rem;
  }
  .mb-sm-1t {
    margin-bottom: 1.5rem;
  }
  .mb-sm-2 {
    margin-bottom: 2rem;
  }
  .mb-sm-3 {
    margin-bottom: 3rem;
  }
  .mb-sm-4 {
    margin-bottom: 4rem;
  }
  .mb-sm-7t {
    margin-bottom: 7.5rem;
  }
  .mb-sm-8 {
    margin-bottom: 8rem;
  }
  .mb-sm-11 {
    margin-bottom: 11.25rem;
  }
  .mb-sm-16 {
    margin-bottom: 16.25rem;
  }
}
.banner_animation {
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
}
.banner_animation img {
  width: 180px;
}
@media (max-width: 768px) {
  .banner_animation {
    text-align: center;
  }
  .banner_animation img {
    max-width: 33%;
  }
}

.pricing_banner_animation {
  text-align: left;
}

.slideOutIn {
  transform: translateY(110%);
}
.slideOutIn:nth-of-type(3) {
  animation: slideOutIn 5s infinite;
}
.slideOutIn:nth-of-type(2) {
  animation: slideOutIn 5s 0.2s infinite;
}
.slideOutIn:nth-of-type(1) {
  animation: slideOutIn 5s 0.4s infinite;
}

@keyframes slideOutIn {
  0% {
    transform: translateY(110%);
  }
  30% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(-110%);
  }
}
.btn {
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 1.25rem 2.5rem;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: #fff;
  color: #020202;
}
.btn:active {
  box-shadow: 0 0 3px 5px #d1d1d1;
}

.btn-tool {
  border: 1px solid #f2f2f2;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.btn-tool:hover {
  border: 1px solid #020202;
}
.btn-tool .material-icons {
  margin-left: 0.75rem;
}
.btn-tool .icon-white {
  background-color: #020202;
  color: #fff;
  padding: 2px;
  border-radius: 2px;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
@media (max-width: 375px) {
  .card-group {
    gap: 0.75rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 32%;
  min-width: 351px;
  border-radius: 16px;
}

.sitemap {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 5rem 0;
}
.sitemap p {
  margin-bottom: 0.5rem;
}
@media (max-width: 375px) {
  .sitemap {
    flex-direction: column-reverse;
  }
}

.sitemap-cover {
  justify-content: center;
  align-items: center;
  border-top: none;
  padding: 12rem 6.75rem;
}

.footer_bottom {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.footer_bottom .social {
  margin-left: 6.25rem;
  display: flex;
  gap: 1.25rem;
}
.footer_bottom .toTop {
  margin-left: auto;
  background-color: transparent;
  color: #fff;
  border: none;
}
.footer_bottom .toTop:hover {
  color: #d1d1d1;
}
.footer_bottom .toTop .material-icons {
  margin-left: 0.75rem;
}
@media (max-width: 375px) {
  .footer_bottom {
    flex-wrap: wrap;
  }
  .footer_bottom .social {
    order: 3;
    margin-left: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
@media (max-width: 375px) {
  .header {
    padding: 1.75rem 0;
  }
}

.header_nav {
  display: flex;
  align-items: center;
}
.header_nav_item {
  padding-left: 1.25rem;
}
@media (max-width: 375px) {
  .header_nav {
    display: none;
  }
}

.header_mobile {
  display: none;
  position: relative;
}
.header_mobile_btn {
  background-color: transparent;
  color: #fff;
  border: none;
  height: 1.5rem;
  text-align: center;
}
.header_mobile_btn .material-icons {
  pointer-events: none;
}
.header_mobile_menu {
  display: none;
  position: absolute;
  right: 0;
  padding: 0.75rem 0;
  margin-top: 4px;
  white-space: nowrap;
  background-color: #020202;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  border-radius: 16px;
}
.header_mobile_menu.show {
  display: block;
}
.header_mobile_menu_item {
  display: block;
  padding: 0.5rem 2rem;
}
.header_mobile_menu_item:active {
  background-color: #525252;
}
@media (max-width: 375px) {
  .header_mobile {
    display: inline-block;
  }
}

.bg-white {
  background: #fff;
  border-radius: 160px;
  color: #020202;
}
.bg-white a {
  color: #020202;
}
.bg-white .container {
  padding: 10rem 0.75rem;
}
@media (max-width: 375px) {
  .bg-white {
    border-radius: 20px;
  }
  .bg-white .container {
    padding: 5rem 0.75rem;
  }
}

.tool_title {
  text-align: center;
}

.tool_search {
  width: 100%;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 16px;
  padding: 0 2.5rem;
  color: #919191;
}
.tool_search .material-icons {
  margin-right: 0.75rem;
}
.tool_search input {
  width: 100%;
  padding: 1.25rem 0;
  border: none;
  background-color: transparent;
}
.tool_search input:focus {
  outline: none;
}

.tool_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .tool_filter {
    flex-wrap: wrap;
  }
}

.tool_filter_all {
  position: relative;
}
.tool_filter_all .icon-white {
  color: #fff;
  background: #020202;
  padding: 2px;
}

.tool_filter_all_menu {
  left: 0;
  width: 240px;
  display: none;
  text-align: left;
  position: absolute;
  padding: 1.25rem 0;
  margin-top: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.tool_filter_all_menu.show {
  display: block;
}
.tool_filter_all_menu_title {
  padding: 0.25rem 2.5rem;
  cursor: default;
  font-size: 0.75rem;
  font-weight: 700;
  color: #919191;
}
.tool_filter_all_menu_title:not(:first-of-type) {
  border-top: 1px solid #f2f2f2;
  padding-top: 1rem;
  margin-top: 1rem;
}
.tool_filter_all_menu_ai, .tool_filter_all_menu_type {
  padding: 0.25rem 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.tool_filter_all_menu_ai:hover, .tool_filter_all_menu_type:hover {
  background-color: #f2f2f2;
}
.tool_filter_all_menu_ai .check-icon, .tool_filter_all_menu_type .check-icon {
  display: none;
}
.tool_filter_all_menu_ai.active .check-icon, .tool_filter_all_menu_type.active .check-icon {
  display: block;
}
@media (max-width: 375px) {
  .tool_filter_all_menu {
    width: 351px;
  }
}

.tool_filter_type {
  display: flex;
}
.tool_filter_type a {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  color: #919191;
  border-radius: 16px;
  transition: 0.3s;
}
.tool_filter_type a:hover,
.tool_filter_type .active {
  background-color: #f2f2f2;
  color: #020202;
  font-weight: 700;
}
.tool_filter_type .active {
  pointer-events: none;
}
.tool_filter_type a:active {
  outline: 1px solid #525252;
}
@media (max-width: 768px) {
  .tool_filter_type {
    order: 3;
    margin: 0 auto;
    overflow-x: auto;
    /* 隱藏 x 軸 */
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* Hide scrollbar for IE, Edge and Firefox */
  }
  .tool_filter_type::-webkit-scrollbar {
    display: none;
  }
  .tool_filter_type {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .tool_filter_type li {
    flex-shrink: 0;
  }
}

.tool_filter_sort_menu:focus {
  outline: none;
}
.tool_filter_sort_menu option {
  padding: 0.25rem 2.5rem;
}
.tool_filter_sort_menu option:hover {
  background-color: #f2f2f2;
}

.tool_card {
  overflow: hidden;
  border: 1px solid #f2f2f2;
}
.tool_card_img {
  overflow: hidden;
}
.tool_card_img img {
  transition: 0.5s;
  vertical-align: middle;
}
.tool_card:hover .tool_card_img img {
  scale: 1.2;
}
.tool_card_body {
  padding: 1.25rem 2rem;
  flex-grow: 1;
}
.tool_card_body h3 {
  margin-bottom: 0.75rem;
}
.tool_card_ai, .tool_card_tag {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  border-top: 1px solid #f2f2f2;
}

.tool_page {
  justify-content: flex-end;
  display: flex;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}
.tool_page a {
  width: 48px;
  padding: 15px 0;
  text-align: center;
  border-radius: 16px;
  transition: 0.3s;
}
.tool_page .page-active,
.tool_page a:hover {
  background: #020202;
  color: #fff;
}
.tool_page .page-active {
  pointer-events: none;
}
.tool_page .material-icons {
  vertical-align: top;
}

@media (max-width: 375px) {
  .banner_title {
    width: 73%;
  }
}

.service_txt {
  display: flex;
  justify-content: space-between;
}
.service_txt h3 {
  width: 66%;
  text-align: justify;
}
@media (max-width: 375px) {
  .service_txt {
    flex-direction: column;
  }
  .service_txt h3 br {
    display: none;
  }
}

.service_card {
  border: 1px solid #525252;
  padding: 5rem 2.5rem;
}
.service_card h3 {
  margin: 1.25rem 0;
}

.cooperation_list {
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: auto;
  gap: 1.25rem;
  /* 隱藏 x 軸 */
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}
.cooperation_list:first-of-type {
  margin-bottom: 1.25rem;
}
.cooperation_list::-webkit-scrollbar {
  display: none;
}
.cooperation_list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.cooperation_list::before, .cooperation_list::after {
  content: "";
  position: sticky;
  width: 196px;
  height: 40px;
  top: 0;
  background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0));
}
.cooperation_list::before {
  left: 0;
  padding-right: 196px;
}
.cooperation_list::after {
  right: 0;
  padding-left: 196px;
  transform: rotate(-180deg);
}
.cooperation_list img {
  max-width: 160px;
  height: 40px;
}
@media (max-width: 375px) {
  .cooperation_list_item:first-of-type {
    margin-left: -5rem;
  }
}

.recommend_card {
  background: rgba(255, 255, 255, 0.08);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}
.recommend_card .material-icons {
  margin-bottom: 1.25rem;
}
.recommend_card_txt {
  padding-bottom: 3.5rem;
  flex-grow: 1;
  color: #f2f2f2;
}
.recommend_card_person {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: auto;
}

.swiper {
  width: 100%;
  padding-bottom: 24px;
}

.swiper-slide {
  height: auto;
}

.swiper-pagination.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.swiper-pagination-bullet {
  background-color: #525252;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.callToAction {
  text-align: center;
}
.callToAction .material-icons {
  margin-left: 0.75rem;
}

pricingner_subtitle {
  width: 50%;
  margin-left: auto;
}
@media (max-width: 768px) {
  pricingner_subtitle {
    width: 73%;
  }
}

.card-price {
  width: 49%;
  border: 1px solid #525252;
}
.card-price ul {
  list-style: disc;
  margin-left: 1.25rem;
}
.card-price:hover {
  border: 1px solid #fff;
}

.price_ai {
  padding: 1.25rem 2rem;
  flex-grow: 1;
}
.price_ai h3 {
  margin-bottom: 0.75rem;
}
.price_ai ul {
  padding-bottom: 8.5rem;
}

.price_cost {
  border-top: 1px solid #525252;
  padding: 1.25rem 2rem;
  display: flex;
  justify-content: space-between;
}
.price_cost_tokens {
  font-weight: 400;
  color: #919191;
}
.price_cost .material-icons {
  margin-left: 0.75rem;
}

.rule {
  display: flex;
}
.rule h2 {
  margin-right: 24%;
  flex-shrink: 0;
}
.rule_item {
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #525252;
}
.rule_item:last-of-type {
  margin-bottom: 0;
}
.rule_item h3 {
  margin-bottom: 1.5rem;
}
@media (max-width: 375px) {
  .rule {
    flex-direction: column;
  }
}

.question {
  display: flex;
}
.question h2 {
  margin-right: 24%;
  flex-shrink: 0;
}
.question ul {
  flex-grow: 1;
}
@media (max-width: 375px) {
  .question {
    flex-direction: column;
  }
}

.question_item {
  display: flex;
  padding: 1.25rem 2.5rem;
  margin-bottom: 1rem;
  border: 1px solid #525252;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.5s;
}
.question_item:last-of-type {
  margin-bottom: 0;
}
.question_item:hover {
  border: 1px solid #fff;
}
.question_item_txt {
  margin-left: 1.25rem;
}
.question_item p {
  margin-top: 1rem;
}
.question_item p,
.question_item .remove-icon {
  display: none;
}
.question_item.active {
  border: 2px solid #fff;
}
.question_item.active .add-icon {
  display: none;
}
.question_item.active p,
.question_item.active .remove-icon {
  display: block;
}/*# sourceMappingURL=all.css.map */