.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid $primary;

  &_nav {
    display: flex;
    align-items: center;
    &_item {
      padding-left: 1.25rem;
    }
  }

  &_menu {
    display: none;
  }
}

.sitemap {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  padding: 5rem 0;
  p {
    margin-bottom: 0.5rem;
  }
}

.sitemap-cover {
  justify-content: center;
  align-items: center;
  border-top: none;
  padding: 12rem 6.75rem;
}

.footer_bottom {
  display: flex;
  align-items: center;
  padding: 2rem 0;

  .social {
    margin-left: 6.25rem;
    display: flex;
    gap: 1.25rem;
  }
  .toTop {
    margin-left: auto;
    background-color: transparent;
    color: $primary;
    border: none;
    &:hover {
      color: $black40;
    }
    .material-icons {
      margin-left: 0.75rem;
    }
  }
}
