.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid $primary;
  @include mobile {
    padding: 1.75rem 0;
  }
}
.header_nav {
  display: flex;
  align-items: center;
  &_item {
    padding-left: 1.25rem;
  }
  @include mobile {
    display: none;
  }
}

.mobile {
  display: none;
  &_btn {
    background-color: transparent;
    color: $primary;
    border: none;
    height: 1.5rem;
    text-align: center;
    .material-icons {
      pointer-events: none;
    }
  }
  &_menu {
    background-color: $black100;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    &.show {
      display: block;
    }
  }
  @include mobile {
    display: inline-block;
  }

  &_menu_main {
    padding: 12rem 0;
    text-align: center;
    border-bottom: 1px solid $primary;
    gap: 0.5rem;
  }
}
