.btn {
  border: 1px solid $primary;
  border-radius: 16px;
  padding: 1.25rem 2.5rem;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: #fff;
    color: $black100;
  }
  &:active {
    box-shadow: 0 0 3px 5px $black40;
  }
}

.btn-tool {
  border: 1px solid $black20;
  white-space: nowrap; //文字不換行
  display: flex;
  align-items: center;

  &:hover {
    border: 1px solid $black100;
  }
  .material-icons {
    margin-left: 0.75rem;
  }
  .icon-white {
    background-color: $black100;
    color: $primary;
    padding: 2px;
    border-radius: 2px;
  }
}
