<<<<<<< HEAD
.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  @include mobile {
    gap: 0.75rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 32%;
  min-width: 351px;
  border-radius: 16px;
}
=======
.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  @include mobile {
    gap: 0.75rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 32%;
  min-width: 351px;
  border-radius: 16px;
}
>>>>>>> d8d2b23ff3ce531c69b2b2c3ed0d2da62e7c0211
